.coding-assessment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.code {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    /* flex: 2; */
}



.sample {
    font-family: monospace;
    font-weight: normal;
}

@media screen and (min-width: 500px){
    .question {
        flex: 1;
    }
    .code {
        flex: 2;
    }
}

.btns {
    margin: 1px;
}

.btn {
    
    margin: 2px;
    font-size: medium;
}
.reset {
    float: right;
}



.output-window {
    height:90%;
}

.editor-box .cm-editor {
    height:341px;
  }

.editor-question-btn {
    margin: 5% 10% 5% 10%;
}


.output {
    height: 75%;
}

.coding-question {
    height: 360px;
    width:100%;
    overflow: auto;
}

@media screen and (max-width: 411px){
    .card-body{
        padding: 1.24rem;
        height:700px;
        /* scroll:"no" ; */
        overflow: hidden;
}
@media screen  and (max-width: 568px) {
    .card-body{
        height: 500px;
    }
    
}
    

}

.card-body{
    padding: 1.24rem;
    height:700px;
} 
@media screen and (max-width: 540px){
    .my-card{
        margin-top: 20px;
        margin-right: 2.5%;
        height: 800px;
        width: 95%;
        margin-left: 2.5%;

    }
    .my-questionpg{
        border: 1px solid black;
        margin: 20px;
        height: 965px;
    }
}

.my-cardbody-fillups .question{
    height: 350px;
    width: 100%;
    overflow: auto;
}
