.coding-assessment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.code {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    /* flex: 2; */
}

/* .output-box {
    height:75%;
} */

.sample {
    font-family: monospace;
    font-weight: normal;
}

@media screen and (min-width: 500px){
    .question {
        flex: 1;
    }
    .code {
        flex: 2;
    }
}

.btns {
    margin: 1px;
}

.btn {
    /* padding: 5px 20px; */
    margin: 2px;
    font-size: medium;
}
.reset {
    float: right;
}

/* .editor-box {
    width: 98%;
} */


.output-window {
    height:90%;
}

.editor-box .cm-editor {
    height:341px;
  }

.editor-question-btn {
    margin: 5% 10% 5% 10%;
}

/* .editor-btn {
    width:150px;
    height:40px;
} */

.output {
    height: 75%;
}

.coding-question {
    height: 360px;
    width:100%;
    overflow: auto;
}