
.flex-parent {
  display: flex;
}

.jc-center {
  margin-top: 20%;
  justify-content: center;
}
.margin-right {
  margin-right: 20px;
}
.my-startbtn {
  width:150px;
  height:40px;
}
.my-questionpg {
  border: 1px solid black;
  margin: 20px;
  height:680px;
}
 
.my-card {
  margin-top:20px;
  margin-left:20px;

  margin-right:20px;
  height : 540px;
  width:85%;
  margin-left: 7%;
}  
.my-questionpg .sidebar {
  margin-top:40px;
  margin-left:20px;
}
.my-questionpg .sidebar .details {
  margin-right :120px;
}
.my-btn {
  float:right;
  width:80px;
  margin-left:10px;
}
.my-deadaline {
  margin-right: 50px;
}
.fillups-text .my-input {
  width:75%;
  resize: none;
}
.my-cardbody-fillups {
  position:relative;
}
.my-cardbody-instructions {
  position:relative;
  overflow: auto;
}
.fillups-text {
  position:absolute;
  bottom: 10px;
  width:100%;
}
.my-cardbody-fillups .question {
  height: 160px;
  width:100%;
  overflow: auto;
}
 
.my-cardbody-fillups .question p{
  margin-bottom: 0rem;
}
.my-instructions {
  border: 1px solid black;
  margin: 20px;
  height:680px;
}
.my-instructions .my-card {
  margin-top:80px;
  margin-left:20px;

  margin-right:20px;
  height : 540px;
  width:85%;
  margin-left: 7%;
}
.instructions-text {
  font-size:large;
}
.report {
  margin: 3%;
}
.my-resultspg{
  margin:1%;
}
.results {
  width:80%;
  /* border:1px solid black; */
  margin : 0% 10% 0% 10%;
  border: 1px solid black;
}
.results-thead {
  border-bottom: 1px solid;
}